In [3]:
import torch
import pandas as pd

In [2]:
print(torch.cuda.is_available())

False

In [4]:
df = pd.read_csv("adult-partial.csv")

In [5]:
df.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [ ]:
def synchronous_transform(raw_data, column_transform_info_list):
    """Take a Pandas DataFrame and transform columns synchronous.

    Outputs a list with Numpy arrays.
    """
    column_data_list = []
    for column_transform_info in column_transform_info_list:
        column_name = column_transform_info.column_name
        data = raw_data[[column_name]]
        if column_transform_info.column_type == 'continuous':
            column_data_list.append(transform_continuous(column_transform_info, data))
        else:
            column_data_list.append(transform_discrete(column_transform_info, data))

    return column_data_list

In [7]:
def transform_discrete(column_transform_info, data):
        ohe = column_transform_info.transform
        return ohe.transform(data).to_numpy()

In [8]:
a = transform_discrete('income', df)

AttributeError: 'str' object has no attribute 'transform'